@import "tailwindcss";




@theme {
  /* Font Families */
  --font-ovo: "Ovo", serif;
  --font-outfit: "Outfit", sans-serif;
  --breakpoint-xs: 335px;
  
  /* Primary Brand Colors */
  --color-primary: #f08c00;
  --color-secondary: #ffb217;
  --color-tertiary: #ff9a17;
  --color-accent: #ffa500;
  --color-nav: #19191c;
  --color-navtext: #f79c0a;
  
  /* Base Colors */
  --color-black: #0F0F0F;
  --color-white: #FFFFFF;
  
   /* Gray Scale */
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F4F4F5;
  --color-gray-200: #E4E4E7;
  --color-gray-300: #D4D4D8;
  --color-gray-400: #A1A1AA;
  --color-gray-500: #71717A;
  --color-gray-600: #52525B;
  --color-gray-700: #3F3F46;
  --color-gray-800: #27272A;
  --color-gray-900: #18181B;
  
  /* Orange Scale (extended) */
  /* --color-orange-50: #FFF8F0;
  --color-orange-100: #FFEDD5;
  --color-orange-200: #FFD9A8;
  --color-orange-300: #ffb217;
  --color-orange-400: #ff9a17;
  --color-orange-500: #f08c00;
  --color-orange-600: #D67800;
  --color-orange-700: #B86500;
  --color-orange-800: #995300;
  --color-orange-900: #7A4200; */
  
  /* Gradients */
  /* --gradient-primary: linear-gradient(135deg, #f08c00 0%, #ffb217 100%);
  --gradient-text: linear-gradient(135deg, #f08c00 0%, #ff9a17 100%);
  --gradient-sunset: linear-gradient(135deg, #f08c00 0%, #ffb217 50%, #ff9a17 100%);
  --gradient-warm: linear-gradient(135deg, #ff9a17 0%, #ffb217 100%); */
  
  /* Shadow Colors (with opacity) */
  /* --shadow-primary-sm: 0 4px 20px rgba(240, 140, 0, 0.2);
  --shadow-primary-md: 0 8px 30px rgba(240, 140, 0, 0.35);
  --shadow-primary-lg: 0 12px 40px rgba(240, 140, 0, 0.4);
  --shadow-primary-xl: 0 20px 60px rgba(240, 140, 0, 0.3); */
  
  /* Background Overlays */
  /* --overlay-primary-light: rgba(240, 140, 0, 0.1);
  --overlay-primary-medium: rgba(240, 140, 0, 0.3);
  --overlay-primary-dark: rgba(240, 140, 0, 0.6);
   */
  /* Border Colors */
  /* --border-primary: #f08c00;
  --border-secondary: #ffb217;
  --border-gray: #E4E4E7;
  --border-gray-dark: #52525B; */
  
  /* Text Colors (with opacity) */
  /* --text-primary: #0F0F0F;
  --text-secondary: #52525B;
  --text-muted: #A1A1AA;
  --text-white: #FFFFFF;
  --text-white-muted: rgba(255, 255, 255, 0.8);
  --text-white-light: rgba(255, 255, 255, 0.7);  */
}

*{
  font-family: var(--font-outfit);
}

/* This allows .font-ovo to actually take effect */
.font-ovo{
  font-family: var(--font-ovo) !important;
}